
{
    registry=https://registry.npmjs.org/
    //registry.npmjs.org/:_authToken==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
    //registry.npmjs.org/always-auth=true
    //registry.npmjs.org/strict-ssl=false
}
